@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "normalize";
@import "responsive";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --sec-backColor: #101313;
  --main-color: rgba(0, 123, 255, 0.7);
  --main-bg-color: #060707;
  min-height: 100%;
}



#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1; 
}

footer {
  text-align: center;
  padding: 10px;
  background: #101313;
  color: white;

  a {
    font-size: 18px !important;
    &:hover {
      color: var(--main-color) !important;
    }
  }
}

.main-bg-1 {
  background-color: var(--main-bg-color);
}
.main-bg-2 {
  background-color: var(--sec-backColor);
}
.w-fit {
  width: fit-content;
}
.z-1000 {
  z-index: 10000;
}
body {
  background-color: var(--sec-backColor) !important;
  color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  height: 150%;
}

*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.curs-p {
  cursor: pointer;
}
.fs-70 {
  font-size: 35px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-16 {
  font-size: 20px !important;
}
.h-111 {
  height: 119px !important;
}

.webLogo {
  width: 50px;
}

.app-navbar {
  padding: 1rem 0 !important;
  color: white !important;
  background-color: #060707 !important;

  z-index: 10 !important;
  width: 100% !important;
}
.app-navbar a.lo {
  line-height: 0.7;
  color: white !important;
  font-size: 26px;
}

.app-navbar a {
  letter-spacing: 2px;
  color: white !important;
}
.app-navbar a:hover {
  color: var(--main-color) !important;
}

.app-navbar a.lo:hover {
  color: white !important;
}

.logo {
  font-weight: 600;
  font-size: 20px;
}

.searchIcon {
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.searchIcon i {
  transition: 0.4s;
  font-size: 28px;
}

.searchIcon:hover i {
  color: var(--main-color);
}
.nav-search {
  background-color: #060707 !important;
  color: white !important;
  border-radius: 25px !important;
  box-shadow: none;
}
.nav-search:focus {
  border-color: rgba(255, 0, 170, 0.25) !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 234, 0.25) !important;
}

.nav-search-holder {
  position: relative;
}
.nav-search-holder i {
  color: rgba(255, 255, 255, 0.842);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
}
.nav-search::placeholder {
  text-align: center;
  color: gray !important;
}
.nav-user {
  transition: 0.4s;
}
.nav-user:hover {
  color: rgba(255, 0, 234, 0.5);
}
.navbar-toggler {
  padding: 0 !important;
}

@media (max-width: 992px) {
  .navbar-collapse .nav-user {
    margin: 0 !important;
  }
}

.swiper {
  width: calc(100% + 100px);
  height: 100%;
  margin-left: -50px;
  position: relative;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  z-index: 10;
  z-index: 10;
  visibility: visible;
  display: block !important;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: -30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 25px !important;
}

.animeSlide {
  position: relative;
  padding: 0;

  .swiper-button-prev,
  .swiper-button-next {
    width: 50px !important;
    z-index: 20;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 25px !important;
  }

  .slider-title {
    border-bottom: 2px solid var(--main-color) !important;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;

    .anime-card {
      display: flex;
      flex-direction: column;
      position: relative;

      span {
        margin-top: 5px;
        max-height: 60px;
        overflow: hidden;
      }

      .imgHolder {
        position: relative;

        &:after {
          position: absolute;
          content: "";
          background-color: rgba(0, 123, 255, 0.2);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: 0.4s;
        }

        &:hover:after {
          opacity: 1;
        }

        &:hover {
          img {
            filter: grayscale(1);
          }
        }
      }

      img {
        background-color: #343333;
        transition: 0.4s;
        width: 100%;
        height: 290px;
      }
    }
  }
}

.showSwiper {
  .swiper-button-prev,
  .swiper-button-next {
    width: 50px !important;
    height: 50px !important;
  }

  .showAnime {
    padding: 100px 0;
    padding-top: 60px;

    .imgHolder {
      height: 400px;

      img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        object-position: top;
      }
    }
  }
}

.main-color {
  color: rgba(255, 0, 234, 0.7);
}
hr.main-color {
  border: 1px solid rgba(255, 0, 234, 0.7);
  color: rgba(255, 0, 234, 0.7);
  opacity: 1;
  margin-top: 80px;
  margin-bottom: 0;
}

footer {
  a {
    font-size: 18px !important;
    &:hover {
      color: var(--main-color) !important;
    }
  }
}

@media (max-width: 768px) {
  .animeSlide {
    .mySwiper {
      .swiper-slide {
        width: calc(100% / 3);
      }
    }
  }
}

.searchIcon {
  cursor: pointer;
  position: relative;
}

.searchIcon i {
  color: white;
}

.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link:hover {
  color: var(--main-color) !important;
}

.app-navbar {
  background-color: var(--sec-backColor);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
